*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.App {
  max-width: 800px;
  margin:0 auto;
  margin-block: 100px;
  /* border: 2px solid black; */
}
.add-container {
  display:flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  margin-bottom: 20px;
  font-size: 1.4rem;

  /* border: 2px solid red; */
}
.add-container  input {
   width: 100%;
   padding:20px 25px;
  font-size: 1.2rem;

}
.add-container input:focus {
  outline: none;
}
.add-container button {
  padding:20px 26px;
  font-size: 1.2rem;

}

.list-container {
  /* border: 3px solid blue; */
}

.list-container li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 0.1px solid gray;
  padding: 10px 20px;
  margin-bottom: 10px;
}

li p {
  
}

li button {
  padding:5px 10px;
  margin-right: 7px;
}

.updateCross {

}